.css-a1rc6s {
    background-color: #146356 !important;
}

.css-12ha4i7 {
    background-color: #146356 !important;
}

.css-7lip4c {
    background-color: #146356 !important;
}

.css-2ujp1m {
    background-color: #146356 !important;
    border: 16px solid #146356 !important;
}

.css-1b49vn6-MuiButtonBase-root-MuiIconButton-root {
    background-color: white !important;
}